{% extends "layout.html" %}

{% block title %}
    Add New Title
{% endblock %}

{% block main %}
    <form action="/addstock" method="post">
        <img src="{{ cover}}" width="70" height="100">
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input autocomplete="on" autofocus class="form-control" id ="isbn" name="isbn" value="{{ ISBN }}" type="text" >
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input autocomplete="off" autofocus class="form-control" id="title" name="title" placeholder="{{ Title }}" value="{{ Title }}" type="text">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input autocomplete="off" autofocus class="form-control" id="author" name="author" value="{{ Authors[0] }}" type="text">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input autocomplete="off" autofocus class="form-control" name="year" value="{{ Year }}" type="number">
        </div>
        <div class="form-group">
            <label for="copies">Copies</label>
            <input autocomplete="off" autofocus class="form-control" name="copies" value="1" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Book</button>
    </form>
{% endblock %}