{% extends "layout.html" %}

{% block title %}
    New Password
{% endblock %}

{% block main %}
    <p>Please enter a new password</p><br>
    <form action="/firstlogin" method="post">
        <div class="form-group">
            <input id='pass' class="form-control" name="password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input id='confirm-pass' class="form-control" name="confirm-password" placeholder="Confirm Password" type="password">
        </div>
        <button id='submit' class="btn btn-primary" type="submit">Register</button>
    </form>


{% endblock %}