{% extends "layout.html" %}

{% block title %}
    Return Books
{% endblock %}

{% block main %}
        <form action="/return_books" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="isbn" placeholder="ISBN" type="text" onkeyup="EnableDisable(isbn, student)">
        </div>
        <button class="btn btn-primary" name="submit" type="submit" value="return">Return</button>
    </form>

<script type="text/javascript">
    function EnableDisable(isbn, student) {
        //Reference the Button.
        var btnSubmit = document.getElementById("submit");
        //Verify the ISBN has 13 characters
        if (isbn.value.trim().length == 13) {
            btnSubmit.disabled = false;
        } else {
            btnSubmit.disabled = true;
        }
    };
</script>

{% endblock %}