{% extends "layout.html" %}

{% block title %}
    My History
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Date Borrowed</th>
          <th scope="col">Date Returned</th>          
          <th scope="col">Book</th>
        </tr>
      </thead>
      <tbody>
    {% for row in transactions %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>


{% endblock %}