{% extends "user/layout.html" %}

{% block title %}
    Stock
{% endblock %}

{% block main %}

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title </th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        <th scope="col">Copies</th>
      </tr>
    </thead>
    <tbody>
  {% for row in books %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
    </tr>
  {% endfor %}
    </tbody>
  </table>


{% endblock %}